h1{
	margin-left: 70px;
	margin-top: 180px;
}

h3{
	margin-left: 70px;
	color: #FD860F;
}

form{
	margin-left: 70px;
}

.btn{
	background-color: #FD860F;
}

.navbar{
	min-height: 200px;
}

.navbar .navbar-brand{
	margin-bottom: 80px;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: ;
   color: white;
   text-align: center;
   height: 50px;
   background-color: #789d6f;
}

p {
	font-size: 20px;
	color: #283625;
}
