h1{
	margin-left: 70px;
	margin-top: 180px;
}

h2 {
	color: #FD860F;
}

h3{
	margin-left: 70px;
	color: #FD860F;
}

form{
	margin-left: 70px;
}

.btn{
	background-color: #FD860F;
}

.navbar{
	min-height: 200px;
}

.navbar .navbar-brand{
	margin-bottom: 80px;
}


.footer {
 	left: 0;
 	bottom: 0;
 	width: 100%;
 	background-color: grey;
 	color: #fff5ec;
 	text-align: center;
 	height: 50px;
 	background-color: #789d6f;
}

p {
	font-size: 20px;
	color: #283625;
}

strong {
	color: #317aa6;
	font-size: 22px;
}

a {
	font-size: 25px;
	color: #be6001;
	text-decoration: underline;	
}